{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"  
	"http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
    <title>Withers Thesis Project</title> 
    <!-- Source File --> 
    
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css"> 
    <link rel="stylesheet" href="{% static 'citeIt/citeit.css' %}" type="text/css" />
</head>
<body id="{variable-project-name}" class="start-page">
<div id="doc" class="yui-t7">
<div id="hd"><h1>Withers Thesis Project</h1>
<ul id="navigation">
    <li><a href="/withers/">Home</a></li>
    <li><a href="">About this Project</a></li>
</ul>
</div>
<div id="bd">
<div id="yui-main">
<div class="yui-b"><div class="yui-g">
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse eros dui, cursus in, fermentum nec, ullamcorper quis, lacus. Aliquam varius enim eu massa. Maecenas elementum placerat mauris. Nunc in elit vitae nibh facilisis malesuada. Fusce consequat massa eu turpis. Mauris eget libero. Fusce malesuada. Pellentesque gravida luctus nunc. Etiam diam. Maecenas massa. Morbi augue nisi, facilisis vitae, volutpat vel, placerat sed, diam. Mauris interdum consequat nulla. Etiam dui felis, cursus ac, vulputate vel, fermentum et, lacus. Donec imperdiet augue egestas orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc volutpat lectus in metus. Integer dapibus est sed erat. Maecenas libero urna, tempus eget, fermentum eget, posuere sit amet, nulla. Duis molestie sapien a nisi. Nunc lobortis odio quis tellus.
</p>
<p>
Ut aliquam libero vitae tellus. Vivamus malesuada ligula ut lectus. Aliquam erat volutpat. Sed suscipit. Maecenas ante. Quisque at lorem. Vestibulum auctor. Pellentesque eleifend. Duis eu neque. Nullam bibendum accumsan enim. Ut ante tortor, eleifend nec, elementum quis, posuere in, felis. Maecenas justo. Morbi adipiscing, magna at tempor vestibulum, arcu est mollis velit, laoreet elementum magna dolor at ligula.
</p>
<p>
Quisque varius urna eu nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sodales felis vitae quam. Aliquam nulla nibh, varius ut, iaculis sit amet, sollicitudin eu, nibh. Mauris vestibulum felis ac diam. Quisque et magna et dolor egestas interdum. Curabitur orci ligula, pretium eget, condimentum in, fermentum non, dolor. Ut suscipit velit vel neque pharetra volutpat. Aliquam vehicula lacinia diam. Duis ligula. Suspendisse potenti. Quisque arcu orci, ultrices vitae, commodo congue, pharetra quis, sem. Aenean ac massa. Fusce enim turpis, ultrices nec, volutpat at, malesuada sit amet, sapien. Suspendisse fermentum libero id purus.
</p>
<p>
Ut sit amet purus nec sapien consectetuer vulputate. Phasellus commodo interdum odio. Vivamus ligula ante, luctus vel, dictum vitae, sagittis consectetuer, libero. Phasellus lacinia varius nisi. Vestibulum pharetra congue mauris. Morbi et nisi. Donec dignissim, justo vitae imperdiet mollis, quam dui sollicitudin velit, at interdum augue lectus et diam. Ut sapien est, volutpat at, tincidunt eget, molestie ac, lacus. Etiam pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam mi lectus, fringilla vitae, adipiscing sit amet, ultrices id, purus. Vestibulum tellus orci, venenatis nec, porttitor eu, elementum sit amet, mi. Sed a tellus eu dolor eleifend consequat. Phasellus libero.
</p>
<p>
Mauris pellentesque erat nec felis. Nunc egestas sollicitudin libero. Duis sapien. Vestibulum sagittis, libero ut dictum porttitor, ante arcu malesuada magna, ut lacinia arcu turpis sed turpis. Sed consequat lectus vel nibh. Duis sollicitudin est. Ut eget eros. Quisque et dolor. Morbi quis nibh. Curabitur mattis, ligula nec cursus varius, nunc lectus pulvinar ligula, id porta ligula orci quis massa. Nulla eleifend. Sed non lectus. Duis accumsan lacus at turpis. Integer molestie pellentesque nunc. 
</p>
</div>
</div>

</div>
</div>

<div id="ft">
</div>
</div>
</body>
</head>
